body{
	position: relative;
}

#bodyPrincipal{
	background-image: url("images/body/doom.jpg");
	background-size: cover;
	position: relative;
}

#body_fondo{
	background-color: black;
}

#buttonToTop{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: red;
	color: black;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	opacity: 0.5;
}

#buttonToTop:hover{
	background-color: white;
	opacity: 1;
}

#intro{
	background-image: url("images/body/identificacion.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
	margin-top: 90px;
	clear: both;
	opacity: 0.7;
	border-radius: 10px;
}

#me{
	background-image: url("images/body/me.jpg");
	background-size: cover;
	width: 20%;
	height: 30%;
	margin-top: 450px;
	margin-left: 30px;
	border-radius: 70%;
	display: none;
	position: absolute;
	z-index: initial;
}

#myName{
	margin-left: 0.5%;
	float: left;
	font-family: Tippa;
	margin-top: 50px;
	margin-left: 13px;
	display: none;
	-webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 0.1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 0.7s infinite alternate;
}

#sabana{
	background-size: cover;
	background-color: black;
	background-image: url("images/body/mm3.png");
	width: 40%;
	height: 700px;
	display: none;
	opacity: 0.7;
	z-index: 999;
	-webkit-box-shadow: 0 0 15px 2px #00f;
	-moz-box-shadow: 0 0 15px 5px #00f;
	box-shadow: 0 0 15px 5px #00f;
	border-radius: 10px;
}

#competenciaHabilidades{
	font-family: Unispace;
	color: white;
	margin-top: 10px;
	text-align: justify;
}

#competenciasLaborales{
	font-family: Unispace;
	color: white;
	text-align: justify;
}

#vocacion{
	font-family: Unispace;
	color: white;
	text-align: justify;
}

#fotosEntrevistas{
	font-family: Unispace;
	color: black;
}

#entrevistaSebaRita{
	background-image: url("images/interviews/ghost_papa.png");
	background-size: cover;
}

#textoEntrevistasSebaRita{
	font-family: Unispace;
	color: white;
	clear: both;
	text-align: justify;
}

#fondoEntrevistaSantiFabi{
	background-image: url("images/interviews/mm2.png");
	background-size: cover;
}

#textoEntrevistasSantiFabi{
	font-family: Unispace;
	color: white;
	text-align: justify;
}

#conceptos{
	margin-top: 10px;
	font-family: Unispace;
	color: white;
	text-align: justify;
}

#busquedaLaboral{
	margin-top: 10px;
	font-family: Unispace;
	color: white;
	text-align: justify;
}

#curriculumVitae{
	font-family: Unispace;
	color: white;
	text-align: justify;
}

#cartaPresentacion{
	font-family: Unispace;
	color: white;
	text-align: justify;
}

hr{
	height: 5px;
	background-color: white;
	width: 75%;
}

#abstract{
	text-align: justify;
}

#infografia{
	font-family: Unispace;
	color: white;
	text-align: center;
}

#infographic_image{
	clear: both;
	display: none;
}

/*Animations*/
@font-face{
	font-family: Unispace;
	src: url("unispace rg.ttf");
}

@font-face{
	font-family: Tippa;
	src: url("Tippa.ttf");
}
